/* @tailwind base;
@tailwind components;
@tailwind utilities; */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

html,
body {
    padding: 0;
    margin: 0;
    /* font-family: 'Poppins', sans-serif !important; */
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif !important;
    color: var(--blue-dark);
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

/* ANTD MODIFIED */
.ant-form-vertical .ant-form-item-label > label {
    font-size: small;
}

@media screen and (max-width: 575px) {
  .ant-form .ant-form-item .ant-form-item-label,
  .ant-form .ant-form-item .ant-form-item-control {
      flex: none !important;
  }
}

.ant-descriptions-bordered .ant-descriptions-item-label {
  background-color: #ececec !important;
  color: black !important;
  font-weight: 600;
}

.editable-row .ant-form-item-explain {
  position: absolute;
  top: 100%;
  font-size: 12px;
}

.sortable-table-header{
  padding: 0.2rem 0.4rem;
  cursor: pointer;
  border-radius: 4px;
}
.sortable-table-header.active{
  font-weight: 700;
  background-color: rgb(235, 235, 235);
}
.sortable-table-header:hover{
  background-color: rgb(235, 235, 235);
  
}